/*-------------------------------------------------------*/
/*BASIC SETUP*/
/*-------------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,
body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*-------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*-------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0px;
    background-color: rgba(0, 0, 0, 0.048);
}

.box {
    padding: 1%;
}

/*------HEADING-----*/
h1,
h2,
h3 {
    font-weight: 400 ;
    text-transform: uppercase;

}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-size: 190%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 100%;
    font-weight: 500;
    margin-bottom: 15px;

}


h2::after {
    display: block;
    height: 2px;
    background-color: #e74c3c;

    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*------ICONS-----*/
.icon-big {
    font-size: 300%;
    display: block;
    color:#e74c3c;
    margin-bottom: 10px;

}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color:#e74c3c;
    font-size: 120%;
    margin-right: 10px;
    
    /*secrets to align the text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*------PARAGRAPHS-----*/
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/*------LINKS-----*/
a:link,
a:visited {
    color: #e74c3c;

    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e74c3c;
    -webkit-transition: border-bottom 0.2s color 0,2s;
    transition: border-bottom 0.2s color 0,2s;
}

a:hover,
a:active {
    color: #000;
    border-bottom: 1px solid transparent;
}

/*------BUTTONS-----*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    color: #000;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition:background-color 0.5s, border 0.5s, color 0.5s;
    transition:background-color 0.5s, border 0.5s, color 0.5s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e74c3c;
    border: 1px solid #e74c3c;
    margin-right: 10px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e74c3c;

}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color:#e3301e;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #e3301e;

}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #e3301e;
    color:#fff
}

/*-------------------------------------------------------*/
/*HEADER*/
/*-------------------------------------------------------*/

header {
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(255, 255, 255, 0.63)),to(rgba(255, 255, 255, 0.63))), url(img/hero-min.jpg);
    background-image:linear-gradient(rgba(255, 255, 255, 0.63),rgba(255, 255, 255, 0.63)), url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50% );
            transform: translate(-50%, -50% );
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    font-weight:600;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.5s;
    transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e74c3c;
}

/* Sticky navi*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 247, 247, 0.966);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0px;
} 

.sticky .main-nav { margin-top: 20px; }

.sticky .logo {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0px;
}

/*-------------------------------------------------------*/
/*FEATURES*/
/*-------------------------------------------------------*/
.section-features .long-copy {
    margin-bottom: 30px;
}

/*-------------------------------------------------------*/
/*MEALS*/
/*-------------------------------------------------------*/

.section-meals {
    padding: 0;
}

.meals-showcase {
    list-style: none;
    width: 100%;
    height: auto;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meal-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}

/*-------------------------------------------------------*/
/*HOW IT WORKS*/
/*-------------------------------------------------------*/
.step-box {
    margin-top: 30px;
}
.step-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 70px;

}

.app-screen {
    width: 45%;
}

.works-step {
    margin-bottom: 50px;

}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e74c3c;
    border: 2px solid #e74c3c;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 8px;
    float: left;
    font-size: 150%;
    margin-right: 25px;

}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-------------------------------------------------------*/
/*CITIES*/
/*-------------------------------------------------------*/

.section-cities {
    background-color: #fff;
}

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.cities-features {
    margin-bottom: 5px;
}

/*-------------------------------------------------------*/
/*TESTIMONIALS*/
/*-------------------------------------------------------*/

.section-testimonials {
    background-color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.61)), to(rgba(255, 255, 255, 0.61))), url(img/chicken-min.jpg);
    background-image: linear-gradient(rgba(255, 255, 255, 0.61), rgba(255, 255, 255, 0.61)), url(img/chicken-min.jpg);
    background-size: cover;
    background-attachment: fixed;

}

blockquote {
    font-weight: 400;
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote::before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top:-5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;

}

cite img {
    height: 50px;
    border-radius: 55%;
    margin-right: 10px;
    vertical-align:middle;
}

/*-------------------------------------------------------*/
/*SIGN UP*/
/*-------------------------------------------------------*/

.plan-box {
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 8px 8px #efefefab;
}

.plan-box .price-img {
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.plan{
    font-size : 110%;
    text-align: center;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfcd8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-price {
    font-size: 200%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 300;
    color: #e74c3c;
}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 90%;
    text-align: center;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

/*-------------------------------------------------------*/
/*FORM*/
/*-------------------------------------------------------*/

.section-form {
    background-color: #fff;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0px;
}

*:focus {outline: none;}

/*-------------------------------------------------------*/
/*FOOTER*/
/*-------------------------------------------------------*/

footer {
    background-color: #000000c9;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
} 

.footer-nav li a:hover,
.footer-nav li a:active{
    color:#ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 140%;
}

.fb,
.twitt,
.gplus,
.insta {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.fb:hover{
    color: #3b5998;
}

.twitt:hover{
    color: #1da1f2;
}

.gplus:hover{
    color: #db4437;
}

.insta:hover{
    color: #c32aa3;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 10px;
    font-size: 90%;
}

/*-------------------------------------------------------*/
/*Animations*/
/*-------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3{
    opacity: 0;
    transition-duration: .8s;

}

.js--wp-4 {
    transition-duration: .8s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
    transform: translate(0);

}

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i { font-size: 200%; }

